{% include "admin_panel/header.html"%}
{% load static %}

<!-- Start Content-->
<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <h4 class="header-title">List of Sitters</h4>

                <hr>
                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in obj %}
                    <tr>
                        <td>{{forloop.counter }}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.mobile_no}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" style="padding: 2px 4px;#fd6464 !important;"
                                    onclick="Del('{{i.id}}')">Delete
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- end row -->


</div>


{% include "admin_panel/footer.html"%}

<script>


//Function of Delete Product
function Del(id){

  console.log("delete");
  swal({
		title: "Are you sure?",
		text: "To Delete this Entry!",
		icon: "warning",
		buttons: ["No", "Yes"],
		closeOnClickOutside: false,
		dangerMode: true,
		})
		.then((willDelete) => {
			if (willDelete) {
			 $.ajax({
					method : "POST",
					url : "/delete_customer_entry/",
					data : {
						'cus_id':id,
					},
					success : function(response){
						if (response == "deleted"){
							
							swal("Entry has been Deleted..!", {
								icon: "success",
								button: "Ok",
								closeOnClickOutside: false,
								}).then(function() {
									location.reload();
								});							
						  }
					 }
				})
			}
	});
}


</script>