{% load static %}
{% include 'customer/header.html' %}
  <style>
  .dataTables_wrapper .dataTables_paginate .paginate_button.current
	{
		color: #e70404 !important;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button
	{
		color: #e70404 !important;
		
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover 
	{
		color: #e70404 !important;
	}
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	
		color: #e70404 !important;
	}
	</style>
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
      <div class='container text-center'>
	       <div class='card shadow text-center'  > 
		       <h4 style="color:#fff;">MY PETS</h4>
				<div class=" text-right mb-3" > 
				  <a href='/add_pets/'><button class="login-btn nextBtn btn-danger btn-lg "  >Add Pet</button></a>
			    </div>
				
				<div id = "table_div">	
					<section class="delivery-table pb-20" style="">
						<div class="div-table" style="margin-top: 1rem;">
							<table class="table table-bordered dt-responsive nowrap" id="pets_table" style="padding:20px; border-collapse: collapse; border-spacing: 0; width: 100%; ">
								<thead id="table_filedname" style="background-color:#a54b4b; color:#fff;" >
									<tr>
										<th style="text-align:center;">Sr.No</th>
										<th style="text-align:center;">Pet Image</th>
										<th style="text-align:center;">Pet Name</th>
										<th style="text-align:center;">Pet Type</th>
										<th style="text-align:center;">Pet Breed</th>
										<th style="text-align:center;">Date of Birth</th>
										<th style="text-align:center;">Gender</th>
										<th style="text-align:center;">Weight</th>
										<th style="text-align:center;">Action</th>
										
									</tr>
								</thead>
								<tbody id="tbody">
									{% for i in pets %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td style="width: 183.1406px;"><img class="zoom" src="{{i.pet_image.url}}" alt="" width="60" height="40" style="height:43px; width:67px;"/></td>
											<td>{{i.pet_name}}</td>
											<td>{{i.type_of_pet}}</td>
											<td>{{i.breed}}</td>
											<td>{{i.birth_date}}</td>
											<td>{{i.gender}}</td>
											<td>{{i.weight}}</td>
											<td><a href="{% url 'Edit_Pet' i.id %}" class="login-btn nextBtn btn-danger btn-sm"  data-toggle="tooltip" data-placement="top" title="Modify Pets" style="font-size: 17px;padding: 5px 9px;"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true" style="cursor:pointer;" ></i></a>
											<button class="login-btn nextBtn btn-danger btn-sm"  data-toggle="tooltip" data-placement="top" title="Delete Pet" style="font-size: 14px;padding: 5px 10px;" onclick="Delete_Pet('{{i.id}}')"><i class="fa fa-trash fa-1x" aria-hidden="true" style="cursor:pointer;" ></i></button>
											</td>
											
										</tr>
									{% endfor %}	
									
								</tbody>
							</table> 
						</div>
					</section>
	  
				</div>
		   </div> 
	  </div>
  </div>
  <!-- end main-content -->
 <script>
    $(document).ready(function () {
		$('#pets_table').DataTable({    
		});
	});
 </script>
 <script>
	function Delete_Pet(pet_id)
	{
		swal({
			title: "Delete Pet.",
			text: "Do you want to delete this Pet?",
			icon: "warning",
			buttons: ["No", "Yes"],
			html:true,
			className: "swal-back",
			closeOnClickOutside: false,
			dangerMode: true,			
		})		
		.then((willUpdate) => {
			if (willUpdate) {
				$.ajax({
					type:"POST",
					url: "/delete_pet_api/",
					headers : {'X-CSRFToken' : getCookie('csrftoken')},
					data: {
						'pet_id': pet_id
					},
					success: function (response) 
					{
						if (response.status == 200){
							swal(""+response.msg+"", {
								icon: "success",
								button: "Ok",
								closeOnClickOutside: false,
								
							})
							.then((addcat)=>{
						   if(addcat){
						    window.location.reload();
						   }
						});
							
						}
						else{
							swal(""+response.msg+"", {
							icon: "error",
							button: "Ok",
							closeOnClickOutside: false,
							});
						}
					}
					
				})
				
			}	
		});
	}
 </script>
  {% include 'customer/footer.html' %}